<div class="content">
  <h2>To reduced inequalities</h2>
  <br />
  <table>
    <tr>
      <td align="center">
        <img
          src="https://user-images.githubusercontent.com/88659167/229183112-bf747fd6-0d2c-444c-b1c5-b2056d5f56f9.png"
          width="100"
          height="100"
        />
      </td>
      <td align="center">
        <img
          src="https://user-images.githubusercontent.com/88659167/229183050-c9550c55-9325-4906-b925-ce447253b165.png"
          width="100"
          height="100"
        />
      </td>
      <td align="center">
        <img
          src="https://user-images.githubusercontent.com/88659167/229182972-35b04347-ff8c-4525-b837-34deda17a370.png"
          width="100"
          height="100"
        />
      </td>
    </tr>
  </table>
  <br />
  <p>
    The app's inspiration came from the Seoul Nong School, a public school for
    students with hearing disabilities, where a deaf teacher informed us about
    the hardships of raising a young child while experiencing hearing
    difficulties.
  </p>
  <p>
    In comparison to other disabilities, deaf people are more likely to get
    married and raise children. However, the probability of their children not
    having a hearing disability is higher. This means that deaf parents face
    more difficulties during parenting. As such, providing deaf parents
    assistance tools, such as Hearsitter, is extremely important.
  </p>
</div>
