<div class="content">
  <img
    src="https://user-images.githubusercontent.com/13832137/229849163-e1211c1e-3347-4ebf-9722-aafd928c3490.png"
    alt="hearsitter application monitor"
    width="300px"
  />
  <div>
    <h1>
      hearsitter
      <img
        src="https://user-images.githubusercontent.com/13832137/229849225-5138f2dc-f968-47f6-9fbc-6eb0e69b3573.png"
        alt="hearsitter logo"
        width="40px"
      />
    </h1>
    <p>
      "hearsitter" is an app that assists deaf parents who are raising young
      children that helps them address problems they might face during
      childcare. The app listens to the surroundings and alerts parents about
      potential risks during parenting.
    </p>
    <button (click)="goDownload()">Download now!</button>
  </div>
</div>
