<div class="content">
  <h2>Team members</h2>
  <div class="box_wrapper">
    <div class="box">
      <a href="https://github.com/kimdj98">
        <img
          src="https://avatars.githubusercontent.com/u/81472155?v=4"
          width="100px"
          alt=""
        /><br />
        <sub><b>DongJae Kim</b></sub> </a
      ><br />
      <a href="https://github.com/kimdj98/hearsitter-ML"> ML </a>
    </div>
    <div class="box">
      <a href="https://github.com/watchstep">
        <img
          src="https://avatars.githubusercontent.com/u/88659167?v=4"
          width="100px"
          alt=""
        /><br />
        <sub><b>Juii Kim</b></sub> </a
      ><br />
      <a href="https://github.com/gdsc-ys/hearsitter-flutter"> Mobile </a>
    </div>
    <div class="box">
      <a href="https://github.com/jimmy0006">
        <img
          src="https://avatars.githubusercontent.com/u/45549879?v=4"
          width="100px"
          style="border-radius: 70%"
          alt=""
        /><br />
        <sub><b>YoungMin Jin</b></sub
        ><br />
        <a href="https://github.com/jimmy0006/hearsitter-server-main">
          Server
        </a>
      </a>
    </div>
    <div class="box">
      <a href="https://github.com/mumwa">
        <img
          src="https://avatars.githubusercontent.com/u/13832137?v=4"
          width="100px"
          alt=""
        /><br />
        <sub><b>HyoJeong Park</b></sub> </a
      ><br />
      <a href="https://github.com/mumwa/hearsitter-landingpage">
        Web Frontend
      </a>
    </div>
  </div>
</div>
