<div class="content">
  <h2>Application</h2>
  <br />
  <div class="box_wrapper">
    <div class="box">
      <div class="round">1</div>
      <p>You can select the sounds you want the app to recognize.</p>
      <img
        src="https://user-images.githubusercontent.com/13832137/229854356-4c7df307-1ced-44b0-acad-00bf4b07d849.png"
      />
    </div>
    <div class="box">
      <div class="round">2</div>
      <p>
        You can check the decibel in real time, and you will be notified when
        the sound is recognized.
      </p>
      <img
        src="https://user-images.githubusercontent.com/13832137/229854365-9c27d80f-763e-435d-b17f-80e007619767.png"
      />
    </div>
    <div class="box">
      <div class="round">3</div>
      <p>You can check the sound history that has been recognized so far.</p>
      <img
        src="https://user-images.githubusercontent.com/88659167/229135997-da398cfa-0041-447e-b955-cff420323fb6.jpg"
      />
    </div>
    <div class="box">
      <div class="round">4</div>
      <p>
        You can also use a table that gives relative descriptions about how loud
        certain decibels are.
      </p>
      <img
        src="https://user-images.githubusercontent.com/88659167/229136318-85a5a405-0f1f-41f0-807e-f24a1e4014a3.jpg"
      />
    </div>
  </div>
</div>
