.content {
  width: 80%;
  max-width: 1000px;
  padding: 40px;
  box-sizing: border-box;
}
img {
  width: 150px;
}
.round {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  width: 15px;
  height: 15px;
  font-size: 10px;
  background-color: #4285f4;
  border-radius: 50%;
}
.box_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box {
  width: 25%;
  max-width: 150px;
}
p {
  height: 120px;
}
@media (max-width: 800px) {
  .box_wrapper {
    display: block;
  }
  .box {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  p {
    height: auto;
  }
}
